<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<a href="/people">Back</a>
<br>
Id: <div th:text="${person.getId()}"></div>
Name: <div th:text="${person.getName()}"></div>
Age: <div th:text="${person.getAge()}"></div>
Email: <div th:text="${person.getEmail()}"></div>
<br>
<a th:href="@{/people/{id}/edit(id = ${person.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>